<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    {% if not car_inventory.0.dealer_id %}
    <form action="{% url 'djangoapp:add_review' dealership %}" method="post">
    {% else %}
    <form action="{% url 'djangoapp:add_review' car_inventory.0.dealer_id %}" method ="post">
    {% endif %}
        <div class="container">
            {% csrf_token %}
            <h1>Add Review for Dealership Id</h1>
            <div class="form-group">
                <label for="content">Please Enter Review Content:</label>
                <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
            </div>
            <div class="form-check">   
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                <label class="form-check-label" for="purchasecheck">
                    Has purchased automobile from this Dealership?(select purchased automobile information below if checked)
                </label>
            </div>
            <br>
            <label class="form-select-label" for="car">
                <p class="font-weight-bold">Select your car(make-model-year):</p>
            </label>
            <select name="car" id="car" class="form-select" required>
                {% for car in car_inventory %}
                    <option selected value={{car.id}}>
                        {{car.make}}-{{car.model_name}}-{{car.year}}
                    </option>
                {% endfor %}
            </select>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label" for="purchasedate">
                    <p class="font-weight-bold">Select Your Purchase Date:</p>
                </label>
                <input class="date-own form-control" type="text" id="purchasedate" name="purchasedate" placeholder="MM/DD/YYYY">
                <script type="text/javascript">
                    $('.date-own').datepicker({
                       format: 'mm/dd/yyyy'
                     });
               </script>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" name="submit" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>
    </body>
</html>